.m-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-cover img {
    width: 300px;
    height: 240px;
    object-fit: contain;
    object-position: center;
  }
  .ant-card-meta-title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    &:hover {
      .ant-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .ant-card-meta-description {
    width: 100%;
    text-align: center;
    white-space: nowrap; 
  }

  .ant-tooltip {
    white-space: normal;
    max-width: 300px; 
  }
