.o-side-menu {
  height: calc(100vh - 30px);

  .btn-expand {
    svg {
      transform: translate(2px, 3px);

      path {
        transform: scale(0.5);
      }
    }
  }

  .menu-list {
    border: none !important;

    .ant-menu-item {
      padding: 0px 12px !important;
      margin-bottom: 12px !important;
    }

    .ant-menu-title-content {
      font-size: 14px;
      font-weight: 700;
    }

    .ant-menu-sub>.ant-menu-item {
      padding: 0 26px !important;

      >.ant-menu-title-content {
        font-weight: 300;
      }
    }

    .ant-menu-submenu-title {
      padding: 0 12px !important;
    }
  }

  .menu-logout {
    border: none !important;
    margin-top: -12px;

    .ant-menu-item {
      padding: 0px 12px !important;
      margin-bottom: 12px !important;
    }

    .ant-menu-title-content {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .ant-menu-inline-collapsed {
    .ant-menu-item {
      padding: 0 12px 0 14px !important;
      transition: none !important;
    }
  }
}